.Contenido{
    display: flex;
}

.Contenido2{
    display: flex;
}

.Contenido3{
    display: flex;
}

.Contenido4{
    display: flex;
    word-spacing: 20px;
}

body{

    background-image: url(fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


}

.Contenido2{
    display: flex;
}